<h2>Diectives</h2>

<h3>Directives structurelles</h3>
<h4>NgFor</h4>
<p>Afficher automatiquement une liste d'éléments dans le template</p>
<ul>
  <li *ngFor="let pTab of paysTab">{{pTab}}</li>
</ul>
<br/>
<table class="table table-striped table-hover">
  <caption>Liste des pays</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Langue officielle</th>
      <th scope="col">Drapeau</th>
      <th scope="col">Capitale</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of pays">
      <td scope="row">{{p.id}}</td>
      <td scope="row">{{p.nom}}</td>
      <td scope="row">{{p.langue}}</td>
      <td scope="row"><img [src]="p.drapeau" width="50px"/></td>
      <td scope="row">{{p.capitale}}</td>
      <td scope="row"><button class="btn btn-info" (click)="activerPays(p.id)">Afficher</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-info" (click)="changerAction('add')">Ajouter un pays</button>

<h4>NgIf</h4>
<p>Permet d'afficher ou de faire disparaitre un élément selon la condition</p>
<div *ngIf="true">Ce div est visible</div><!--display: block/inline-->
<div *ngIf="false">Ce div est caché</div> <!--display: none-->
<h5>Détails du pays</h5>
<div *ngIf="paysActif.id > 0" class="card" style="width: 18rem;">
  <img [src] = "paysActif.drapeau" class="card-img-top" alt="Drapeau {{paysActif.nom}}">
  <div class="card-body">
    <h5 class="card-title">{{paysActif.nom}}</h5>
    <p class="card-text">Capitale : {{paysActif.capitale}}</p>
    <a (click)="ressetPays()" class="btn btn-primary">Retourner</a>
  </div>
</div>
<div *ngIf="paysActif.id == null" class="card" style="width: 18rem;">
  <p>Aucun pays n'est sélectionné</p>
</div>

<app-td-form *ngIf="action == 'add'" [pays]="pays"></app-td-form>
